* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #d37d1b;
  color: #4b2e2e;
}

header {
  background: #ffffff;
  color: #007e1b;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  font-size: 24px;
}

nav a {
  color: #700303;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  background: url('img/background.png') no-repeat center center/cover;
  color: #022b0b;
  padding: 60px 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #0d771b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.section {
  padding: 40px 20px;
  background: #fff;
  margin: 20px 0;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #094b12;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #0db46e;
    color: white;
  padding: 20px;
  text-align: center;
}

.social a {
  color: #ffe4e1;
  margin: 0 10px;
  text-decoration: none;
}

/* Responsivo com Flexbox */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  .hero {
    padding: 40px 10px;
  }

  .section {
    padding: 20px 10px;
  }
}